body{
    font-family: Roboto Mono;
    background-color: #F6F5F5;
}
.Eli{
    position: relative;
    top: 200px;
}
.Blakk{
    position: absolute;
    right: 0px;
    top: 200px;
}

.slugs{
    position: absolute;
    z-index: -1;
    left: 200px;
}
.slugs1{
    position: absolute;
    right: 0;
    z-index: -1;
    top: 750px;
}
.sandslug{
    position: absolute;
    bottom: -1200px;
    z-index: 1;
    height: 100px;
}
.tazerling{
    position: absolute;
    bottom: -1200px;
    z-index: 1;
    height: 100px;
    right: 225px;
}
.burpy{
    position: absolute;
    bottom: -1125px;
    z-index: 1;
    left: 0;
    height: 100px;
}
header{
    font-size: larger;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    z-index: 100;
    border-bottom: 3px solid black;
    background: url(https://cdn.wallpapersafari.com/60/59/3keL8Z.jpg);
}
h1{
    margin-left: 100px;
    position: absolute;
    top: 60px
}
a{
    color: white;
    text-decoration: unset;
    margin-left: 80px;
    margin-right: 50px;
}

.div1{
    display: flex; 
    align-items: center;
}

.logo{
    margin: 0px;
    width: 50px;
    height: 50px;
}

footer{
    position: absolute;
    height: 250px;
    bottom: -1200px;
    left: 0px;
    right: 0px;    
    background: url(https://png.pngtree.com/background/20211215/original/pngtree-orange-geometric-background-with-footer-and-header-simple-design-picture-image_1484052.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    margin: 0px;
}

.footer_des{
    color: black;
    width: 500px;
    margin-left: 100px;
}

.footerlogo{
    margin-top: 50px;
    height: 50px;
    width: 50px;
}

.name-logo{
    margin-top: 15px;
    height: 50px;
    width: 175px;
}

.center_div{
    position: absolute;
    top: 60px;
    margin: 0px;
    left: 0;
    right: 0;
}

.intro{
    width: 500px;
    font-size: large;
}

.intro_img{
    height: 200px;
    width: 300px;
    margin-right: 20px;
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease-in-out;
}

.first_div{
    margin-left: 400px;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.intro_img:hover{
    width: 350px;
    height: 250px;
}

.character_div{
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    margin-top: 50px;
    padding: 20px;
}
.characters{
    border: 3px solid black;
    padding: 50px;
    margin: 0;
    color: black;
}
.characters:hover{
    color: white;
    background-color: black;
}
.characters > img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: height 0.3s, width 0.3s;
}
.characters>img:hover{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.characters > h5{
    text-align: center;
    font-weight: 900;
}
.characters > p{
    width: 100px;
}

hr{
    border: 2px dotted black;
}
.links{
    margin-top: 50px;
}
.links > a{
    color: black;
}